{% extends "base.html" %}

{% block content %}
<section id="about">
  <h2>What is <code>2dcl</code>?</h2>
  <p>
    <code>2dcl</code> aims to be Decentraland's 2d alternative universe.
  </p>
  <h2>What are the goals of <code>2dcl</code>?</h2>
  <ul>
    <li>Testing the ability of the Decentraland protocol to support alternative clients.</li>
    <li>Creating an accessible ecosystem for people to create 2d experiences in Decentraland.</li>
    <li>Experimenting with alternative implementations/protocols from what the Foundation is doing.</li>
  </ul>
  <p>See the <a href="https://governance.decentraland.org/proposal/?id=1959b490-f726-11ec-805c-77efd746e6b7" target="_blank">proposal</a> for more info</p>
  <h2>What's the current status?</h2>
  <ul>
    <li>You can walk through Decentraland in 2d. Streets and parcels are recognized.</li>
    <li>You can create a scene to deploy in a parcel you own.</li>
    <li>Very experimental status, everything is expected to break.</li>
  </ul>
  <h2>What's coming?</h2>
  <ul>
    <li>Wearables and avatars</li>
    <li>Login using metamask</li>
  </ul>
  <h2>Useful links</h2>
  <ul>
    <li><a href="https://github.com/2dcl/2dcl/blob/main/docs/guides/scene_creation.md">How to create and deploy a scene</a></li>
    <li><a href="https://github.com/2dcl/2dcl/blob/main/docs/RFC-1.md">RFC-1: Scene Definition</a></li>
    <li><a href="https://github.com/2dcl/2dcl/blob/main/2dcl/definitions/config.md">Explorer Configuration</a></li>
  </ul>
</section>

<section id="download">
  <h2>Downloads</h2>
  <h3>Client</h3>
  <ul class="links">
    <li>
      <a href="https://github.com/2dcl/2dcl/releases">Releases (Win/Mac/Linux)</a>
    </li>
    <li>
      <a href="https://github.com/2dcl/2dcl/">GitHub Repository</a>
    </li>
  </ul>
  <h3>Sample Scene</h3>
  <ul class='links'>
    <li>
      <a href="https://github.com/2dcl/sample-scene/sample-scene.zip">Zip</a>
    </li>
    <li>
      <a href="https://github.com/2dcl/sample-scene/sample-scene.zip">GitHub Repository</a>
    </li>
  </ul>
</section>

{% endblock content %}
